.vscode/
creds/
.next/
node_modules/
dist/
coverage/
.nyc_output/
.DS_Store
error.log
info.log
dev-env.sh
dev-env-remote-server-connection.sh
*.exe
.env
.env_prod
scratch/
src/keys/
ngrok
testImages/
tests/images
.env-old
app.yaml
/.direnv
yarn-error.log
keys/
/tsconfig.tsbuildinfo
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
